body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
}
.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 600px;
	background-image : url(bg.jpg);
	border : 4px solid red;
}
#text{
	margin-top:450px;
}
#title {
	bottom: 544px;
	position: absolute;
}
#title:hover{
	position: absolute;
	bottom:534px;
}
#saw {
	bottom:338px;
	left: 355px;
	position: absolute;
}
#saw:hover{
	position: absolute;
	left: 365px;
	bottom:348px;
}
#hammer {
  bottom: 441px;
  right: 529px;
  position: absolute;
}
#hammer:hover{
	position: absolute;
	right: 529px;
	bottom:421px;
}
#pincers{
  bottom: 243px;
  right: 360px;
  position: absolute;
}
#pincers:hover{
	position:absolute;
	bottom: 238px;
	right: 380px;
}
#screwdriver{
	position: absolute;
	right: 	370px;
	bottom: 378px;
}
#screwdriver:hover{
	position: absolute;
	right: 410px;
	bottom:373px;
}
#toolbox{
	bottom:180px;
	right: 630px;
	position: absolute;
}
p{
	margin:0px;
	background-color: white;
	opacity: 0.5;
}
h1{
	margin: 0px;
	background-color: white;
	opacity: 0.5;
}
ul {
	visibility: hidden;
	background-color: white;
	color: black;
	border radius: 6px;
	font-size: 13px;
	position: absolute;
	z-index: 1;
	top: 130px;
	border: 2px black solid;
	padding: 0px;
}
#toolbox:hover ul{
	visibility: visible;
	color: #FFFFAA
}
li{
	display: block;
	padding: 10px;8ctfygvy hm ,
	border: 0.5px solid black;
	width: 100px;
	text-align: center;
}
li a{
	text-decoration: none;
	color: grey;
}
nav{
	background: linear-gradient(black 20% , grey);
	color: grey;
	border radius: 0px;
}
nav a{
margin-left: 20px;
color: grey;
font-style: bold;
text-decoration: none
}
li:hover{
	background-color: #FFFFAA;
}
li a:hover{
	color: black;
}
p{
	padding: 10px;
}
h1{ 	padding: 10px;
}
#humanfactor{
	color: blue
}
#humanfactor:hover{
}
a:hover{
	transition: 0.5s ease;
}
